@use './variables';
@use './theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vh: 100vh;

    @supports (height: 100dvh) {
      --vh: 100dvh;
    }
  }

  html,
  body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-x: none;
  }

  #root {
    width: 100%;
    max-width: 100%;
  }

  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }

  * {
    @apply border-border;
  }
}

/* animations, helpers, utilities go here */
